{% extends 'base.html' %}
{% block content %}

<h3>My Courses</h3>

<ul class="list-group">
    {% for e in enrollments %}
        <li class="list-group-item">
            <strong>{{ e.course.title }}</strong>
            <br>
            Assigned on: {{ e.assigned_at }}
        </li>
        {% for e in enrollments %}
<tr>
    <td>{{ e.course.title }}</td>
    <td>{{ e.course.description|truncatewords:15 }}</td>

    {% if e.completed %}
        <td><span class="badge bg-success">Completed</span></td>
    {% else %}
        <td>
            <a href="{% url 'complete_course' e.id %}" 
               class="btn btn-sm btn-primary">
                Mark Completed
            </a>
        </td>
    {% endif %}
</tr>
{% endfor %}

    {% endfor %}
</ul>

{% endblock %}
